<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>667776473109-avrr3ql914uukqf3gq822mnco4k0pp32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667776473109-avrr3ql914uukqf3gq822mnco4k0pp32</string>
	<key>API_KEY</key>
	<string>AIzaSyCAuKUk2n4sFAfA6PhNtJ9m6ZxcWnyp6Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>667776473109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>drothfeld.Munch</string>
	<key>PROJECT_ID</key>
	<string>munch-6404e</string>
	<key>STORAGE_BUCKET</key>
	<string>munch-6404e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667776473109:ios:d0fb81ade05ddb02</string>
	<key>DATABASE_URL</key>
	<string>https://munch-6404e.firebaseio.com</string>
</dict>
</plist>